@import "./variables";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: $c-mineShaft;
}

body {
  font-family: $f-baseFontFamily;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

.container {
  padding: 0 $space-x-small;
}