.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 13px;

  &__logo {
    width: 50px;
    height: auto;
  }

  .minicart {
    position: relative;
    margin-top: $space-x-small;

    &__icon {
      width: 45px;
      height: auto;
      margin-right: 5px;
    }

    &__counter {
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: $c-chathamsBlue;
      color: $c-white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.625rem;
      font-weight: 600;
      font-family: $f-dejavuSans;
    }
  }
}

@media only screen and (min-width: $break-sm) {
  .header {
    padding: 7px 35px;
  }
}
