.category {
  background-color: $c-mineShaft;
  color: $c-white;
  padding: $space-small 0;

  &__title {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: $space-small 0;
    color: $c-wildSand;
    font-family: $f-baseFontFamily;
    letter-spacing: 1px;
    padding: 5px $space-small 0;
  }
}

.filters {
  margin-top: $space-medium;

  &__head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $c-mineShaft;
    align-items: center;

    &__title {
      font-size: 1.375rem;
      font-weight: 400;
      margin: 0;
    }

    &__toggle {
      background: none;
      border: none;
      height: 30px;
      padding: 0;
      font-size: 2.5rem;
      outline: none;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }

  &__body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  &__category {
    padding: $space-small 0;
    margin-top: $space-small;

    &__title {
      font-size: 1.125rem;
      margin: 0;
    }
  }

  &__option {
    display: flex;
    align-items: center;
    cursor: pointer;
    
    &__type--color {
      margin: 0 5px;
      width: 14px;
      height: 14px;
    }

    &__name {
      font-size: 0.875rem;
    }
  }

  &.open .filters__body {
    max-height: 150px; //TODO: get max-height from js
  }
}

.productList {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 35px 0;

  &__container {
    padding: 0 $space-small;
  }

  &__item {
    margin-bottom: $space-large;
    position: relative;

    &__btn {
      @include AddToCartBtn;
    }

    &__title {
      font-size: 1.125rem;
      font-family: $f-dejavuSans;
      text-align: center;
      font-weight: 400;
      margin: $space-small 0 0;
    }

    &__thumbnail__box {
      display: flex;
    }

    &__price { 
      font-size: 1.5rem;
      color: $c-chathamsBlue;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      font-family: $f-dejavuSans;
      font-weight: 500;
      margin-top: 2px;

      .discount {
        font-size: 1.125rem;
        text-decoration: line-through;
        color: $c-black;
        margin-right: 10px;
      }
    }

    &__saleIcon {
      position: absolute;
      right: 0;
      width: 50px;
      transform: translate(7px, -90px);
    }
  }
}

@media only screen and (min-width: $break-sm) {
  .category__title {
    font-size: 3rem;
  }

  .productList {
    justify-content: space-between;
    padding: 0 60px;

    &__item {
      width: 27%;

      &__thumbnail {
        display: none;

        &__box {
          height: 40vw;
          background-size: cover;
          background-position: center;
        }
      }
    }
  }
}


@media only screen and (min-width: $break-md) {
  .productList {
    width: 75%;

    &__container {
      display: flex;
      padding: 0 $space-medium;
    }

    &__item__thumbnail__box {
      height: 28vw;
    }
  }

  .filters {
    width: 25%;
    padding-right: 50px;

    &__head__toggle {
      display: none;
    }

    &__body {
      max-height: none;
    }
  }
}